<h1>Listing Rounds</h1>

<table class="listing_table">
  <tr>
    <th>Bschool app</th>
    <th>Round number</th>
    <th>Deadline</th>
    <th colspan="3">Actions</th>
  </tr>

<% for round in @rounds %>
  <tr>
    <td><%=h round.bschool_app_id %></td>
    <td><%=h round.round_number %></td>
    <td><%=h round.deadline %></td>
    <td><%= link_to 'Show', round %></td>
    <td><%= link_to 'Edit', edit_round_path(round) %></td>
    <td><%= link_to 'Delete', round, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="bottom_nav">
<%= link_to 'New round', new_round_path %>
</div>